
/** HEADER **/

#header-nav {
	background-color: #8cb3d9;
	border-radius: 0;
	border: 1px solid #660033;
	height: 55px;
}

.navbar-brand h1 {
	margin: 0;
	float: left;
	font-size: 1.2em;
	color: #660033;
	font-weight: bold;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1.5px solid #660033;
}

#nav-list a {
	background-color: #660033;
	margin: 0;
	color: #8cb3d9;
}

#collapsable-nav a span {
	margin-right: 10px;
}


/** BODY **/
body {
	font-size: 16px;
	padding-top: 70px;
	padding-bottom: 50px;
}

.row {
	background-color: #8cb3d9;
	margin: auto;
}

h3 {
	margin-bottom: 18px;
}

p {
	padding: 20px;
}

h2 {
	margin-bottom: 20px;
	color: #660033; 
}